@page "/registration"
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject IToastService ToastService

@*<h3>Zarejestruj się</h3>
<EditForm Model="user" OnValidSubmit="OnSubmitRegistration">
    <div class="form-group">
        <label for="email" class="required">Email</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>

    </div>
    <div class="form-group">
        <label for="username" class="required">Login</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control"></InputText>
        <ValidationMessage For="@(() => user.Username)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="password" class="required">Hasło</label>
        <InputText id="password" @bind-Value="user.Password" type="password" class="form-control"></InputText>
        <ValidationMessage For="@(() => user.Password)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="required">Potwierdź hasło</label>
        <InputText id="confirmPassword" @bind-Value="user.PasswordConfirm" type="password" class="form-control"></InputText>
        <ValidationMessage For="@(() => user.PasswordConfirm)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Data urodzenia</label>
        <InputDate id="dateOfBirth" @bind-Value="user.DateOfBirth" class="form-control"></InputDate>
    </div>
    <div class="form-group form-check">
        <InputCheckbox id="confirmation" @bind-Value="user.Confirmation" class="form-check-input"></InputCheckbox>
        <label for="confirmation" class="form-check-label">Akceptuję regulamin serwisu.</label>
        <ValidationMessage For="@(() => user.Confirmation)"></ValidationMessage>
    </div>
    <button type="submit" class="btn btn-success">Idź!</button>
</EditForm>*@

<EditForm Model="user" OnValidSubmit="OnSubmitRegistration">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" style="">
                <div class="">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-xl-5 text-center" style="width: 500px;">

                            <h3 class="mb-5">Zarejestruj się</h3>

                            <div class="form-outline mb-4">
                                <InputText id="email" @bind-Value="user.Email" class="form-control form-control-lg"></InputText>
                                <label for="email" class="required form-label">Email</label>

                            </div>

                            <div class="form-outline mb-4">
                                <InputText id="username" @bind-Value="user.Username" class="form-control form-control-lg"></InputText>
                                <ValidationMessage For="@(() => user.Username)"></ValidationMessage>
                                <label for="username" class="required form-label">Login</label>

                            </div>

                            <div class="form-outline mb-4">
                                <InputText id="password" @bind-Value="user.Password" type="password" class="form-control form-control-lg"></InputText>
                                <ValidationMessage For="@(() => user.Password)"></ValidationMessage>
                                <label for="password" class="required form-label">Hasło</label>

                            </div>

                            <div class="form-outline mb-4">
                                <InputText id="confirmPassword" @bind-Value="user.PasswordConfirm" type="password" class="form-control form-control-lg"></InputText>
                                <ValidationMessage For="@(() => user.PasswordConfirm)"></ValidationMessage>
                                <label for="confirmPassword" class="required form-label">Potwierdź hasło</label>

                            </div>

                            <div class="form-outline mb-4">
                                <InputDate id="dateOfBirth" @bind-Value="user.DateOfBirth" class="form-control form-control-lg"></InputDate>
                                <label class="required form-label" for="dateOfBirth">Data urodzenia</label>
                            </div>

                            <div class="form-group form-check">
                                <InputCheckbox id="confirmation" @bind-Value="user.Confirmation" class="form-check-input"></InputCheckbox>
                                <label for="confirmation" class="required form-check-label">Akceptuję regulamin serwisu.</label>
                                <ValidationMessage For="@(() => user.Confirmation)"></ValidationMessage>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Załóż konto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</EditForm>

@code {

    private UserRegistration user = new UserRegistration();
    private bool registrated = false;
    private async void OnSubmitRegistration()
    {
        var result = await AuthService.Register(user);
        if (result.Success)
        {
            ToastService.ShowSuccess("Udało się!", "Konto utworzone");
            registrated = true;
            NavigationManager.NavigateTo("login");
        }
        else
        {
            ToastService.ShowError(result.Message);
        }
    }


}
